{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "bulletspark3"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/bulletwhiz1.ogg","/sfx/bulletwhiz2.ogg","/sfx/bulletwhiz3.ogg","/sfx/bulletwhiz4.ogg","/sfx/bulletwhiz5.ogg","/sfx/bulletwhiz6.ogg","/sfx/bulletwhiz7.ogg"]
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "spark"
        }
      ]
    }
  ]
}
